### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is stored and organized in a way that allows for efficient retrieval, management, and updating of the data. It is a software system that provides tools for managing data, including inserting, updating, querying, and deleting data, as well as defining the structure and relationships between different data entities. A database can be thought of as a digital filing system that allows users to store, organize, and retrieve data in a reliable and efficient way.

SQL and NoSQL are two different types of databases that differ in their data storage and retrieval methods. Here are the key differences between the two:

1. Data Model:
SQL databases use a structured data model, also known as a Relational Data Model. It organizes data into one or more tables with a fixed schema, and relationships can be established between tables. NoSQL databases, on the other hand, use an unstructured data model that allows for more flexibility in data storage. They can store data in documents, key-value pairs, column family or graph formats.

2. Query Language:
SQL databases use a Structured Query Language (SQL) to manipulate data. SQL has a standardized syntax that is used to insert, update, delete, and query data. NoSQL databases, on the other hand, do not use a standardized query language. Each NoSQL database has its own API that is used to manipulate data.

3. Scalability:
SQL databases are vertically scalable, which means that you can increase the performance of a single server by adding more resources like RAM, CPU, or storage. NoSQL databases, on the other hand, are horizontally scalable, which means that you can increase performance by adding more servers to a cluster.

4. ACID Compliance:
SQL databases are ACID (Atomicity, Consistency, Isolation, Durability) compliant, which ensures that transactions are processed reliably. NoSQL databases, on the other hand, are usually not ACID compliant, but some do provide ACID-like guarantees.

5. Data Type Support:
SQL databases have strong data type support, which means that they enforce strict data types for fields in a table. NoSQL databases, on the other hand, are usually schema-less, which allows for more flexibility in data storage.

6. Use Cases:
SQL databases are well-suited for applications that require complex queries, transaction processing, and data integrity. NoSQL databases, on the other hand, are better suited for applications that require high availability, scalability, and flexible data models.

Overall, the choice between SQL and NoSQL databases depends on the specific requirements of the application.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a set of SQL commands used to create, modify, and delete database objects such as tables, views, indexes, and sequences. Some common DDL commands include CREATE, ALTER, and DROP. These commands are used to create new objects in a database, modify existing objects, and delete objects from the database, respectively.

__CREATE__ In a Relational Database Management System (RDBMS), the CREATE command is used to create new database objects such as tables, indexes, views, stored procedures, and triggers. 

In the below eg. a new table named 'user' is created using CREATE command, there are four columns named 'Id', 'Name', 'Email Id' is created with their data types and 'Id' is kept the primary key.

In [ ]:
CREATE TABLE users(                   
    Id INT,
    Name VARCHAR (20),
    Email Id VARCHAR (20),
    PRIMARY KEY(Id)   
);

__DROP__ command is used to delete or remove a table, index, view, or other database object from a database. This command can be used to remove an entire table, along with all of its data, or to remove specific database objects like indexes or views. 

In the below eg. DROP command is used to delete the 'user' table.

In [ ]:
DROP TABLE user;

__ALTER__ statement in SQL is used to modify an existing database table or its columns. It allows you to add, delete, or modify columns in an existing table, or change the data type of an existing column. In the below eg. 'user' table got altered by adding a new coloumn 'date_of_birth', 'DATE' as their datatype.

In [ ]:
ALTER TABLE user
ADD COLOUMN date_of_birth DATE;

__TRUNCATE__ is a SQL command that is used to delete all the rows of a table, while keeping its structure intact. The TRUNCATE command is similar to the DELETE command, but it is faster as it doesn't log each row deletion. Here in the below eg. user table truncated by 'TRUNCATE' command.

TRUNCATE TABLE users;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL used to manipulate and query data within a database. It includes commands such as SELECT, INSERT, UPDATE, DELETE, etc.

The primary function of DML is to allow users to manipulate data stored in the database. Using DML commands, users can retrieve, insert, update or delete data from a database. These commands are used to interact with the data and change the contents of the database.

__INSERT__ In SQL, the INSERT statement is used to add new rows of data to an existing table.

This statement will add a new row to the students table with the values 1, 'John', and 22 in the id, name, and age columns, respectively.

INSERT INTO students(id, name, age )
VALUES (101, 'Ayush', 16)

__UPDATE__ In SQL, UPDATE statement is used to modify existing records in a table. 

In the below eg. table 'students' is getting updated, we're updating age to 25, where name is 'Ayush'.

UPDATE students
SET age = 25
WHERE name = 'Ayush';

__DELETE__ is a command used in SQL to delete one or more rows from a table. It is part of the Data Manipulation Language (DML) category of SQL commands.

In the below eg. we're deleting row where 'id' is 101.

DELETE FROM students, WHERE id = 101;

### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a sub-language of SQL (Structured Query Language) used to retrieve data from a database. DQL includes various commands and statements that allow users to query a database to extract the data that meets a specified set of criteria.

The primary command in DQL is SELECT, which is used to retrieve data from one or more tables in a database. Other commands and clauses such as WHERE, ORDER BY, GROUP BY, JOIN, and HAVING are used to refine and sort the data retrieved by SELECT.

SELECT * FROM students;

This will return all the data from the "students" table. We can also specify which columns we want to retrieve by listing them after the SELECT keyword, separated by commas. For example, to retrieve only the "id" and "name" columns, we can use:

SELECT id, name FROM students;

### Q5. Explain Primary Key and Foreign Key.

__PRIMARY KEY__ In a database table, a primary key is a column or group of columns that uniquely identifies each record in the table. It is a constraint that ensures that the data in the column or group of columns is unique for each row.

__FOREIGN KEY__ A foreign key is a column in a table that references the primary key of another table. It is a way to link two tables together and create a relationship between them. The foreign key in one table matches the primary key of another table

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

'''
import mysql.connector

my_database= mysql.connector.connect(
host='xxxxxx'           
user='xxxxxx'              
password='xxxxxx'           
)

mycursor = my_database.cursor()  


mycursor.execute("SHOW DATABASE")   
for i in mycursor:                  
    print(i)
'''

__CURSOR__  is an object used to interact with a database. It allows you to execute SQL statements and retrieve data from the database. A cursor is created by calling the cursor() method of a database connection object. The cursor has a number of methods for executing SQL commands, including execute(), executemany(), and fetchone().

After you are done using a cursor, you should call its close() method to release any database resources it may be holding.

__EXECUTE__  is a method that is used to execute a SQL query on a database. It is typically used with a database cursor object, which allows you to traverse and manipulate the rows in the result set of the query. 

The execute() method is used to execute an SQL command that does not return any rows, such as a CREATE TABLE or INSERT statement.

### Q7. Give the order of execution of SQL clauses in an SQL query.

The typical order of execution of clauses in a SELECT SQL query is as follows:

1. FROM - specifies the table or tables to be queried.
2. JOIN - combines rows from two or more tables.
3. WHERE - filters the rows based on specified conditions.
4. GROUP BY - groups the rows based on specified columns.
5. HAVING - filters the groups based on specified conditions.
6. SELECT - selects the columns to be returned in the result set.
7. ORDER BY - sorts the rows based on specified columns.
8. LIMIT - specifies the maximum number of rows to be returned in the result set.

It's important to note that not all SQL queries will include all of these clauses, and the order may vary depending on the specific query being executed.