In [138]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [139]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

## Write a code to print the data present in the second row of the dataframe, df.

In [140]:
# approach 1
df[1:2]

        course_name  duration
1  Machine Learning         3

In [141]:
# approach 2
df.iloc[[1]]

        course_name  duration
1  Machine Learning         3

## What is the difference between the functions loc and iloc in pandas.DataFrame?

loc is label-based indexing method, which means that it selects data based on the row and column labels.

In [143]:
# to get all the details of course_name column, need to mention the name of the column or row
df.loc[[0,1,2], ['course_name']]

        course_name
0      Data Science
1  Machine Learning
2          Big Data

iloc is position-based indexing method, which means that it selects data based on the row and column positions.

In [144]:
# to get any row or column, mention only their index values
df.iloc[[0,1,2],[0]]

        course_name
0      Data Science
1  Machine Learning
2          Big Data

## Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

### Did you observe any difference in both the outputs? If so then explain it.

In [149]:
new_df = df.reindex([3,0,1,2])

In [150]:
new_df.loc[[2]]

  course_name  duration
2    Big Data         6

In [151]:
new_df.iloc[[2]]

        course_name  duration
1  Machine Learning         3

#### Explanation
Both have numeric '2' as their positional argument but df.loc has 2 as label, means it is taking 2 as the label name.
while df.iloc is taking 2 as index, that's why both have different output.

## Write a code to find the following statistical measurements for the below dataframe df1:
#### (i) mean of each and every column present in the dataframe.
#### (ii) standard deviation of column, ‘column_2’

In [152]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [153]:
#mean of all the columns
df1.mean()

column_1    0.461117
column_2    0.506933
column_3    0.690682
column_4    0.440524
column_5    0.413921
column_6    0.572592
dtype: float64

In [154]:
# standard deviation of column_2
df1['column_2'].std()

0.3065841430020328

## Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
### If you are getting errors in executing it then explain why.

In [156]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.980248  0.328169  0.815993  0.855819  0.643321  0.619917
2  0.220078  0.029796  0.593892  0.333144  0.014439  0.623929
3  0.191169  0.480140  0.601401  0.206986  0.867931  0.847469
4  0.966397  0.915955  0.961884  0.180832  0.006178  0.951235
5  0.157058  0.693204  0.411220  0.728930  0.063475  0.335954
6  0.251749  0.594333  0.759704  0.337436  0.888181  0.057050

In [157]:
df1.loc[[1],['column_2']] = ['ouch']

In [158]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.980248      ouch  0.815993  0.855819  0.643321  0.619917
2  0.220078  0.029796  0.593892  0.333144  0.014439  0.623929
3  0.191169   0.48014  0.601401  0.206986  0.867931  0.847469
4  0.966397  0.915955  0.961884  0.180832  0.006178  0.951235
5  0.157058  0.693204  0.411220  0.728930  0.063475  0.335954
6  0.251749  0.594333  0.759704  0.337436  0.888181  0.057050

In [160]:
df1['column_2'].mean()

TypeError: can only concatenate str (not "float") to str

#### Explanation 
Yes it is getting error, and the reason is pretty simple. While performing mean operation a 'string' can't be added with a 'float' digit and thus this operation can't be done and that's why code is getting error.

## What do you understand about the windows function in pandas and list the types of windows functions?

In Pandas, window functions are used for calculating metrics on a rolling basis over a sliding window of data in a DataFrame or Series. They allow us to compute rolling calculations over a defined window of observations.

There are 3 types of window functions available in Pandas:

1. Rolling Window:  df.rolling( )

2. Expanding Window:  df.expanding( )

3. Exponentially Weighted Moving Average (EWMA) :  df.ewm( )

## Write a code to print only the current month and year at the time of answering this question.

In [161]:
# current time and date stored in date
date = pd.datetime.now()

/tmp/ipykernel_2115/931580477.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  date = pd.datetime.now()

In [162]:
# extracting current year from date
date.year

2023

In [163]:
# extracting current month from date
date.month

3

## Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [164]:

def dat_diff():
    
    inp_1 = input("Enter 1st date (YYYY-MM-DD): ")
    inp_2 = input("Enter 2nd date (YYYY-MM-DD): ")
    
    date_1= pd.to_datetime(inp_1)
    date_2= pd.to_datetime(inp_2)
    
    time_difference = date_2 - date_1
    
    day = pd.Timedelta(time_difference).days
    hour = pd.Timedelta(time_difference).seconds//3600
    minute= (pd.Timedelta(time_difference).seconds//60)%60
    
    print(f"day={day}, hour= {hour}, min {minute}")

## Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [165]:
def cat():
    file_path= input("Enter the file path: ")
    col_name= input("Enter the column name: ")
    cat_ord= input ("Enter the category order(seperated by comma): ").split(',')
    
    df = pd.read_csv(file_path)
    df['new_col'] = pd.Categorical(df[col_name], categories=cat_ord)
    
    return df.sort_values('new_col')

## Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [166]:
def plot():
    file_path = input("Enter the file path: ")
    df = pd.read_csv(file_path)
    
    df.plot.bar(stacked = True)

## You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

In [179]:
df = pd.read_csv('student.csv')
del df['Unnamed: 0']
df

In [168]:
def stats():
    file_path = input("Enter the file path: ")
    df = pd.read_csv(file_path)
    
    mean = df['Test Score'].mean()
    median = df['Test Score'].median()
    mode = df['Test Score'].mode()
    
    return pd.DataFrame({'Stats':['mean','median','mode'], 'values': [mean, median, mode]})

In [169]:
stats()

Enter the file path:  student.csv

    Stats                                  values
0    mean                                    83.5
1  median                                    85.0
2    mode  0    85
Name: Test Score, dtype: int64

In [ ]:
pd